.ql-toolbar {
  border: none !important;
  background-color: #f8f8f8 !important;
}

.ql-toolbar .ql-formats:not(:last-child) {
  border-right: 1px solid #dcdcdc !important;
  padding-right: 12px !important;
}

.ql-container {
  font-family: "Lato", sans-serif !important;
  border: none !important;
  height: unset !important;
}

.ql-editor {
  line-height: 22px !important;
  padding: 8px 12px !important;
  color: #1d1c1d !important;
  font-weight: 400 !important;
  font-family: "Lato", sans-serif !important;
  font-size: 14px !important;
  max-height: 150px !important;
  overflow-y: auto !important;
}

.ql-editor a {
  color: #126483 !important;
}

.ql-editor a:hover {
  text-decoration: underline !important;
}

.ql-renderer {
  padding: 0 !important;
}

.ql-editor:before {
  left: 12px !important;
  color: #8d8d8d !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  @apply truncate;
}